<div ng-include src="'views/partial/header.html'"></div>

<h2>DynamoDB Example</h2>

<p>Enter an email address and a name. Next, you can go to the <a ng-href="#/s3_dynamo">S3 Dynamo</a> example and upload
    an image or two. Finally, if you visit the <a ng-href="#/ses">SES</a> page, you can send yourself an email with your media.</p>
<p><a href="https://github.com/emil10001/AWS-NodeJS-AngularJS-Demos">
    Here's the github repo for this.</a></p>

<div ng-include src="'views/users.html'"></div>
<small>
    <b>Note</b>
    <blockquote>
        Using an integer primary key in dynamo is not wise. DynamoDB requires you to pass in a unique id
        for each new entry, so if you don't know what's been used already, it might be tough to figure out what this
        should be. It would be smarter to use a hash value for the primary key instead. I didn't realize that when I
        set this up, and since it's small, I can deal with it manually.
    </blockquote>
</small>

<h2>Code</h2>
        The following is a few methods that you'll find in the node.js code. Essentially,
        the basics are there, and we spit the results out over a socket.io socket. The socket
        will be used throughout most of the examples.
<h3>Initialize</h3>
<pre class="pre-scrollable">
AWS.config.region = &quot;us-east-1&quot;;
AWS.config.apiVersions = {
    dynamodb: '2012-08-10',
};
var dynamodb = new AWS.DynamoDB();
</pre>
<h3>Get all the users</h3>
<pre class="pre-scrollable">
var getAll = function (socket) {
    dynamodb.scan({
        &quot;TableName&quot;: c.DYN_USERS_TABLE,
        &quot;Limit&quot;: 100
    }, function (err, data) {
    if (err) {
        socket.emit(c.DYN_GET_USERS, &quot;error&quot;);
    } else {
        var finalData = converter.ArrayConverter(data.Items);
        socket.emit(c.DYN_GET_USERS, finalData);
    }
    });
};
</pre>
<h3>Insert or update a user</h3>
<pre class="pre-scrollable">
var addUpdateUser = function (user, socket) {
    user.id = genIdFromEmail(user.email);
    var userObj = converter.ConvertFromJson(user);
    dynamodb.putItem({
        &quot;TableName&quot;: c.DYN_USERS_TABLE,
        &quot;Item&quot;: userObj
    }, function (err, data) {
        if (err) {
            socket.emit(c.DYN_UPDATE_USER, &quot;error&quot;);
        } else {
           socket.emit(c.DYN_UPDATE_USER, data);
        }
    });
};
</pre>
<h3>Delete a user</h3>
<pre class="pre-scrollable">
var deleteUser = function (userId, socket) {
    var userObj = converter.ConvertFromJson({id: userId});
    dynamodb.deleteItem({
        &quot;TableName&quot;: c.DYN_USERS_TABLE,
        &quot;Key&quot;: userObj
    }, function (err, data) {
        if (err) {
            socket.emit(c.DYN_DELETE_USER, &quot;error&quot;);
        } else {
            socket.emit(c.DYN_DELETE_USER, data);
        }
    });
};
</pre>
