<div class="header">
    <h3 class="text-muted">public</h3>
</div>

<h2>DynamoDB Example</h2>
<div ng-include src="'views/users.html'" ng-controller="DynamoCtrl"></div>
<small>
    <b>Author's note</b>
    <blockquote>
        Using an integer primary key in dynamo is not wise. DynamoDB requires you to pass in a unique id
        for each new entry, so if you don't know what's been used already, it might be tough to figure out what this
        should be. It would be smarter to use a hash value for the primary key instead. I didn't realize that when I
        set this up, and since it's small, I can deal with it manually.
    </blockquote>
</small>

<h2>RDS Example</h2>
<div ng-include src="'views/users.html'" ng-controller="RdsCtrl"></div>
<small>
    <b>Author's note</b>
    <blockquote>
        Since we're using MySQL, it's easy to set up the db to autoincrement the id of a table. I'm doing that, and
        hiding the id field using ng-show.
    </blockquote>
</small>

