<div ng-include src="'views/partial/header.html'"></div>

<div class="well">
    <ul>
        <li><a ng-href="#/dynamo">DynamoDB</a> - A simple dataset backed by DynamoDB</li>
        <li><a ng-href="#/rds">RDS</a> - The same fields as the Dynamo example, but using RDS</li>
        <li><a ng-href="#/s3_dynamo">S3 Dynamo</a> - Upload a file to S3, keep track with DynamoDB</li>
        <li><a ng-href="#/s3_rds">S3 RDS</a> - Upload a file to S3, keep track with RDS</li>
        <li><a ng-href="#/ses">SES</a> - Email a user!</li>
    </ul>
</div>