<div ng-include src="'views/partial/header.html'"></div>

<h2>S3 Example</h2>

<div class="row">
    Select a user<br>
    <select ng-model="user" ng-options="c.name for c in users"></select><br>
</div>
<div class="well">

    <div class="row">
        <div class="col-md-5" ng-repeat="media in userMedia">
            <small><a class="btn btn-xs btn-danger" ng-click="deleteMedia(media)"><i
                    class="icon-remove icon-white"></i></a></small>
            <b><a ng-click="selectUserMedia(media)">{{ media.title }}</a></b>
        </div>
        <img ng-src=" {{ selectedMedia.url }}" class="col-md-7"/>
    </div>
</div>

<div class="well">

    <h3>Upload a picture</h3>

    <div class="row">
        <div class="col-md-5">
            <input type="file" id="fileInput" ng-model="fileInput" ng-change="fileInputChange()">
        </div>
        <img ng-src="{{ fileImgUrl }}" class="col-md-5"/>
    </div>

</div>
<small>
    <b>Note</b>
    <blockquote>
        You'll need to modify the CORS settings on your S3 bucket for this to work. Try the following configuration:
        <pre>
    &lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
    &lt;CORSConfiguration xmlns=&quot;http://s3.amazonaws.com/doc/2006-03-01/&quot;&gt;
        &lt;CORSRule&gt;
            &lt;AllowedOrigin&gt;*&lt;/AllowedOrigin&gt;
            &lt;AllowedOrigin&gt;http://localhost:3000&lt;/AllowedOrigin&gt;
            &lt;AllowedMethod&gt;GET&lt;/AllowedMethod&gt;
            &lt;AllowedMethod&gt;PUT&lt;/AllowedMethod&gt;
            &lt;AllowedMethod&gt;POST&lt;/AllowedMethod&gt;
            &lt;AllowedMethod&gt;DELETE&lt;/AllowedMethod&gt;
            &lt;MaxAgeSeconds&gt;3000&lt;/MaxAgeSeconds&gt;
            &lt;AllowedHeader&gt;Content-*&lt;/AllowedHeader&gt;
            &lt;AllowedHeader&gt;Authorization&lt;/AllowedHeader&gt;
            &lt;AllowedHeader&gt;*&lt;/AllowedHeader&gt;
        &lt;/CORSRule&gt;
    &lt;/CORSConfiguration&gt;
        </pre>
    </blockquote>
</small>
<h2>Code</h2>
The following is a few methods that you'll find in the node.js code. Essentially,
the basics are there, and we spit the results out over a socket.io socket. The socket
will be used throughout most of the examples.
<h3>Initialize</h3>
<pre class="pre-scrollable">
AWS.config.region = &quot;us-east-1&quot;;
AWS.config.apiVersions = {
    s3: '2006-03-01',
};
var s3 = new AWS.S3();
</pre>
<h3>Generate signed URL pair</h3>
        Note: the GET URL is public, since that's how we want it. We could have easily
        generated a signed GET URL, and kept the objects in the bucket private.
<pre class="pre-scrollable">
var generateUrlPair = function (socket) {
    var urlPair = {};
    var key = genRandomKeyString();
    urlPair[c.S3_KEY] = key;
    var putParams = {Bucket: c.S3_BUCKET, Key: key, ACL: &quot;public-read&quot;, ContentType: &quot;application/octet-stream&quot; };
    s3.getSignedUrl('putObject', putParams, function (err, url) {
        if (!!err) {
            socket.emit(c.S3_GET_URLPAIR, c.ERROR);
            return;
        }
        urlPair[c.S3_PUT_URL] = url;
        urlPair[c.S3_GET_URL] = &quot;https://aws-node-demos.s3.amazonaws.com/&quot; + qs.escape(key);
        socket.emit(c.S3_GET_URLPAIR, urlPair);
    });
};
</pre>
<h3>Delete Object from bucket</h3>
<pre class="pre-scrollable">
var deleteMedia = function(key, socket) {
    var params = {Bucket: c.S3_BUCKET, Key: key};
    s3.deleteObject(params, function(err, data){
        if (!!err) {
            socket.emit(c.S3_DELETE, c.ERROR);
            return;
        }
        socket.emit(c.S3_DELETE, data);
    });
}
</pre>
