<div ng-include src="'views/partial/header.html'"></div>

<h2>SES Example</h2>

<div class="row">
    <span class="col-md-2">Unsubscribe:</span>
    <form class="col-md-6" ng-submit="unsubscribe()">
        <input type="email" ng-model="tmpUser.email" size="30" placeholder="email">
    </form>
</div>
<br>
<div class="row">
    <span class="col-md-2">Select a user:</span>
    <select class="col-md-4" ng-model="user" ng-options="c.name for c in users"></select>
    <div class="col-md-6">{{ user.name }} - {{ user.email }}
        <a class="btn btn-xs" ng-click="sendEmail()"><i
            class="icon-envelope-alt icon-white"></i></a>
    </div>
</span>
</div>
<br>
<small>
    <b>Note</b>
    <blockquote>
        This example is only backed by Dynamo. If you want an email address to show up, enter it in the DynamoDB
        example.
    </blockquote>
</small>
<h2>Code</h2>
The following is a few methods that you'll find in the node.js code. Essentially,
the basics are there, and we spit the results out over a socket.io socket. The socket
will be used throughout most of the examples.
<h3>Initialize</h3>
<pre class="pre-scrollable">
AWS.config.region = &quot;us-east-1&quot;;
AWS.config.apiVersions = {
    sns: '2010-03-31',
    ses: '2010-12-01'
};
var ses = new AWS.SES();
</pre>
<h3>Send Email</h3>
<pre class="pre-scrollable">
var sendEmail = function (user, userMedia, socket) {
    var params = {
        Source: &quot;me@mydomain.com&quot;,
        Destination: {
            ToAddresses: [user.email]
        },
        Message: {
            Subject: {
                Data: user.name + &quot;'s media&quot;
            },
            Body: {
                Text: {
                    Data: &quot;please enable HTML to view this message&quot;
                },
                Html: {
                    Data: getHtmlBodyFor(user, userMedia)
                }
            }
        }
    };
    ses.sendEmail(params, function (err, data) {
        if (err) {
            socket.emit(c.SES_SEND_EMAIL, c.ERROR);
        } else {
            socket.emit(c.SES_SEND_EMAIL, c.SUCCESS);
        }
    });
};
</pre>