<div class="well">

    <h3>Users</h3>

    <div class="row">
        <div class="col-md-5">
            <div ng-repeat="user in users">
                <small><a class="btn btn-xs btn-danger" ng-click="deleteUser(user.id)"><i
                        class="icon-remove icon-white"></i></a></small>
                <b>{{ user.id }}</b>: <em>{{ user.name }} - {{ user.email }}</em>
                <br>
            </div>
        </div>
        <div class="col-md-5">
            <form ng-submit="addUser()">
                <input ng-show="{{ requireId }}" type="text" ng-model="newUser.id" size="10" placeholder="id"><br>
                <input type="text" ng-model="newUser.name" size="30" placeholder="name"><br>
                <input type="email" ng-model="newUser.email" size="30" placeholder="email">
                <button class="btn-primary btn btn-xs" type="submit"><i class="icon-plus icon-white"></i></button>
            </form>
        </div>
    </div>

</div>